extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Person Record: #{p.id}
        
    .w3-container
        img.w3-left.w3-circle(src="/images/student.png" alt="Avatar" width="100")
        ul.w3-ul.w3-card-4
            li #[b Nome:] #{p.nome}
            li #[b Idade:] #{p.idade}
            li #[b Sexo:] #{p.sexo}
            li #[b Morada:] #{p.morada.cidade}, #{p.morada.distrito}
            li #[b BI:] #{p.bi}
            li #[b Profissão:] #{p.profissao}
            li #[b Partido Político:] #{p.partido_politico.party_abbr}, #{p.partido_politico.party_name}
            li #[b religião:] #{p.religiao}
            li #[b Desportos:] 
                ul
                    each desporto in p.desportos
                        li #[b Desporto:] #{desporto}
            li #[b Animais:] 
                ul
                    each animal in p.animais
                        li #[b Animal:] #{animal}
            li #[b Figuras Públicas:] 
                ul
                    each figura in p.figura_publica_pt
                        li #[b Figura pública:] #{figura}
            li #[b Marca Carro:] #{p.marca_carro}
            li #[b Destinos Favoritos:] 
                ul
                    each destino in p.destinos_favoritos
                        li #[b Destino:] #{destino}
            li #[b Comida Favorita:] #{p.atributos.comida_favorita}
            li #[b Atributos:]
            .w3-container 
              fieldset.w3-margin 
                if p.atributos.fumador
                  input.w3-check(type="checkbox" name="Fumador" value=p.atributos.fumador checked)
                else
                  input.w3-check(type="checkbox" name="Fumador" value=p.atributos.fumador)
                label Fumador
                if p.atributos.gosta_cinema
                  input.w3-check(type="checkbox" name="Gosta Cinema" value=p.atributos.gosta_cinema checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Cinema" value=p.atributos.gosta_cinema)
                label Gosta Cinema
                if p.atributos.gosta_viajar
                  input.w3-check(type="checkbox" name="Gosta Viajar" value=p.atributos.gosta_viajar checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Viajar" value=p.atributos.gosta_viajar)
                label Gosta Viajar
                if p.atributos.gosta_musica
                  input.w3-check(type="checkbox" name="Gosta Música" value=p.atributos.gosta_musica checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Música" value=p.atributos.gosta_musica)
                label Gosta Música
                if p.atributos.gosta_leitura
                  input.w3-check(type="checkbox" name="Gosta Leitura" value=p.atributos.gosta_leitura checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Leitura" value=p.atributos.gosta_leitura)
                label Gosta Leitura
                if p.atributos.gosta_comer
                  input.w3-check(type="checkbox" name="Gosta Comer" value=p.atributos.gosta_comer checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Comer" value=p.atributos.gosta_comer)
                label Gosta Comer
                if p.atributos.gosta_cafe
                  input.w3-check(type="checkbox" name="Gosta Café" value=p.atributos.gosta_cafe checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Café" value=p.atributos.gosta_cafe)
                label Gosta Café
                if p.atributos.gosta_cerveja
                  input.w3-check(type="checkbox" name="Gosta Cerveja" value=p.atributos.gosta_cerveja checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Cerveja" value=p.atributos.gosta_cerveja)
                label Gosta Cerveja
                if p.atributos.gosta_vinho
                  input.w3-check(type="checkbox" name="Gosta Vinho" value=p.atributos.gosta_vinho checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Vinho" value=p.atributos.gosta_vinho)
                label Gosta Vinho
                if p.atributos.gosta_cachaca
                  input.w3-check(type="checkbox" name="Gosta Cachaça" value=p.atributos.gosta_cachaca checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Cachaça" value=p.atributos.gosta_cachaca)
                label Gosta Cachaça
                if p.atributos.gosta_animais_estimacao
                  input.w3-check(type="checkbox" name="Gosta Animais de Estimação" value=p.atributos.gosta_animais_estimacao checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Animais de Estimação" value=p.atributos.gosta_animais_estimacao)
                label Gosta Animais de Estimação
                if p.atributos.gosta_dancar
                  input.w3-check(type="checkbox" name="Gosta Dançar" value=p.atributos.gosta_dancar checked)
                else
                  input.w3-check(type="checkbox" name="Gosta Dançar" value=p.atributos.gosta_dancar)
                label Gosta Dançar
                if p.atributos.acorda_cedo
                  input.w3-check(type="checkbox" name="Acorda Cedo" value=p.atributos.acorda_cedo checked)
                else
                  input.w3-check(type="checkbox" name="Acorda Cedo" value=p.atributos.acorda_cedo)
                label Acorda Cedo
                

    footer.w3-container.w3-teal 
      h5 Generated by Vasco Matos in #{d} - #[a(href="/") Return]



